.QueryBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.MessagesDisplayQ {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  max-height: 80vh;
  width: 98%;
  overflow-y: auto;
  z-index: 1;
}
.InputBox1 {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  border: none;
}
.InputBox1 input{
  width: 84%;
  height: 50px;
  border: none;
  background-color: #E6EAEF;
  font-size: 20px;
}
.message-content img {
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
}

.message-content video {
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
}

.message-content audio {
  max-width: 200px;
}

.message-content a {
  color: #524C78;
  font-weight: bold; 
  padding: 5px; 
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.ReplyTo{
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 100%;
  height: fit-content;
  background-color: #CBD0D5;
  padding: 5px;
  border-radius: 10px;
}
.ReplyTo p{
  margin: 0px;
}
.ReplyToHeader{
  font-weight: bold;
  font-size: 15px;
}
.ReplyToMessage{
  font-size: 20px;
}
.ReplyToFile{
  color: blue;
}
.Photo{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #CBD0D5;
}
.Video{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #CBD0D5;
}
.Audio{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color:#CBD0D5;
}
.message-content a:active {
  background-color: #DCD5EE; 
}
.SelectedMessage {
  background-color: red;
}



