button {
  padding: 0px;
  margin: 0px;
}
.ReceivedMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  align-self: flex-start !important;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}

.SentMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}
.sent-message-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #28a745;
}
.received-message-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #007bff;
}
.ChatConatainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: auto;
  background-color: whites;
  font-family: "Roboto", sans-serif;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: white;
  padding: 10px 5px 10px 5px;
}
.Header label {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  color: black;
}

.HeaderButtons {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.HeaderButtons img {
  margin: 0px;
  padding: 0px;
  width: 46px;
  height: 46px;
}

.Tabs {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Tabs button {
  background-color: white;
  width: 46%;
  height: 8vh;
  font-size: 25px;
  border: none;
}
